[DEFAULT]
nick=awesomesource123
ident=bob
realname=Bob the Builder

[LiberaChat]
host=irc.libera.chat
password=hunter2
channels=#blindcomputing,#archlinux

[OFTC]
enabled=false
host=irc.oftc.net
quit_message=Quit! Leaving to see the sights
